*{
    text-decoration: none; background-color: black; 
}
.navbar{
    background: rgb(99, 99, 99); font-family: 'Plus Jakarta Sans'; padding-right: 0px; padding-left: 15px;
}
.navdiv{
    display: flex; align-items: center; background-color: rgb(99, 99, 99); justify-content: center;
}
.logo a{
    font-size: 22px; font-weight: light; color: #ffffff; background-color: rgb(99, 99, 99);
}
li{
    list-style: none; display: inline-block; background-color: rgb(99, 99, 99);
}
li a{
    color: #d8d8d8; font-size: 18px; font-weight: medium; background-color: rgb(99, 99, 99);
}

.eyecatcher {
    font-family: 'Plus Jakarta Sans'
}
img {
    max-width: 100%;
    width: auto;
    height: 300px; /* ie8 */
}
h1 {
    color: #ffffff; font-size: 48px; font-weight: bold; margin-left: 30px;
}
h2 {
    color: #5a5a5a; margin-left: 30px; font-size: 32px; margin-top: -18px; font-weight: bold;
}
p {
    color: #ffffff; margin-left: 30px; font-size: 18; margin-top: -10px; font-weight: bold;
}

.button {
    color: #000000; background-color: #ffffff; font-family: 'Plus Jakarta Sans'; padding-top: 15px; padding-bottom: 15px; margin-right: 90%; margin-left: 2%; text-align: center;
}
a {
    color: #000000; background-color: #ffffff;
}